app/step-functions-templates/handle_new_job_request_with_task_token_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save vars",
  "States": {
    "Save vars": {
      "Type": "Pass",
      "Next": "Launch Job, start hearbeat"
    },
    "Launch Job, start hearbeat": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Launch Job",
          "States": {
            "Launch Job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": "{% $states.result.Payload %}",
              "Arguments": {
                "FunctionName": "",
                "Payload": "{% $states.input %}"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Save job"
            },
            "Save job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Arguments": {
                "TableName": "MyDynamoDBTable",
                "Item": {
                  "Column": {
                    "S": "MyEntry"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Enable Heartbeat scheduler",
          "States": {
            "Enable Heartbeat scheduler": {
              "Type": "Task",
              "Arguments": {
                "Name": "MyData"
              },
              "Resource": "arn:aws:states:::aws-sdk:eventbridge:enableRule",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
