app/step-functions-templates/handle_decompression_state_change_event_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save vars",
  "States": {
    "Save vars": {
      "Type": "Pass",
      "Next": "Get Job ID",
      "Assign": {
        "id": "{% $states.input.id %}",
        "status": "{% $states.input.status %}",
        "outputs": "{% $states.input.outputs ? $states.input.outputs : null %}"
      }
    },
    "Get Job ID": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": "${__task_token_table_name__}",
        "Key": {
          "id": {
            "S": "{% $id %}"
          },
          "id_type": {
            "S": "${__job_id_type__}"
          }
        }
      },
      "Next": "If Job in DB",
      "Assign": {
        "taskToken": "{% $states.result.Item ? $states.result.Item.taskToken.S : null %}"
      }
    },
    "If Job in DB": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Get by status",
          "Condition": "{% $taskToken ? true : false %}",
          "Comment": "Job is in DB"
        }
      ],
      "Default": "Job not in DB"
    },
    "Get by status": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Job Succeeded",
          "Condition": "{% $status = 'SUCCEEDED' %}",
          "Comment": "Job Succeeded"
        }
      ],
      "Default": "Job failed"
    },
    "Job Succeeded": {
      "Type": "Task",
      "Arguments": {
        "Output": "{% $outputs %}",
        "TaskToken": "{% $taskToken %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
      "Next": "Delete Job ID from database"
    },
    "Delete Job ID from database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${__task_token_table_name__}",
        "Key": {
          "id": {
            "S": "{% $id %}"
          },
          "id_type": {
            "S": "${__job_id_type__}"
          }
        }
      },
      "End": true
    },
    "Job failed": {
      "Type": "Task",
      "Arguments": {
        "TaskToken": "{% $taskToken %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskFailure",
      "Next": "Delete Job ID from database"
    },
    "Job not in DB": {
      "Type": "Pass",
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
