app/step-functions-templates/run_decompression_job_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Wait 1 Second",
  "States": {
    "Wait 1 Second": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Save vars"
    },
    "Save vars": {
      "Type": "Pass",
      "Next": "ICAv2 Configuration Vars",
      "Assign": {
        "jobId": "{% $states.input.jobId %}",
        "jobType": "{% $states.input.jobType %}",
        "fastqIdList": "{% $states.input.fastqIdList ? $states.input.fastqIdList : null %}",
        "maxReads": "{% $states.input.maxReads ? $states.input.maxReads : -1 %}",
        "sampling": "{% $states.input.sampling ? $states.input.sampling : false %}",
        "noSplitByLane": "{% $states.input.noSplitByLane ? $states.input.noSplitByLane : false %}",
        "s3JobMetadataBucket": "{% $states.input.s3JobMetadataBucket %}",
        "s3JobMetadataPrefix": "{% $states.input.s3JobMetadataPrefix %}",
        "outputUriPrefix": "{% $states.input.outputUriPrefix %}",
        "fileUriByFastqIdMap": "{% $states.input.fileUriByFastqIdMap %}"
      }
    },
    "ICAv2 Configuration Vars": {
      "Type": "Pass",
      "Next": "Initialise run",
      "Assign": {
        "s3JobMetadataStorageConfigurationListKeyPrefix": "{% $s3JobMetadataPrefix & 'storage_configuration_list.yaml' %}",
        "s3JobMetadataProjectToStorageConfigurationMappingListKeyPrefix": "{% $s3JobMetadataPrefix & 'project_to_storage_configuration_mapping_list.yaml' %}",
        "s3JobMetadataStorageCredentialListKeyPrefix": "{% $s3JobMetadataPrefix & 'storage_credential_list.yaml' %}"
      }
    },
    "Initialise run": {
      "Type": "Parallel",
      "Next": "Job Type needs requirements",
      "Branches": [
        {
          "StartAt": "Update fastq decompression service status",
          "States": {
            "Update fastq decompression service status": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": "{% $states.result.Payload %}",
              "Arguments": {
                "FunctionName": "${__update_fastq_decompression_service_status_lambda_function_arn__}",
                "Payload": {
                  "jobId": "{% $jobId %}",
                  "status": "RUNNING",
                  "stepsExecutionArn": "{% $states.context.Execution.Id %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Enable heartbeat monitor",
          "States": {
            "Enable heartbeat monitor": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__heartbeat_scheduler_rule_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:eventbridge:enableRule",
              "Retry": [
                {
                  "ErrorEquals": ["EventBridge.InternalException"],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "Comment": "Handle internal event bridge exception"
                }
              ],
              "End": true
            }
          }
        }
      ]
    },
    "Job Type needs requirements": {
      "Type": "Choice",
      "Choices": [
        {
          "Comment": "Is Decompression Job Type",
          "Next": "Fastq Sync (wait for decompression stats)",
          "Condition": "{% ( \n $jobType = 'ORA_DECOMPRESSION' and\n ( \n   $maxReads = -1 or\n   $maxReads > ${__min_reads_to_require_gzip_stats__}\n )\n) %}"
        },
        {
          "Next": "Fastq sync (Needs Read Count)",
          "Condition": "{% $jobType = 'GZIP_FILESIZE_CALCULATION' or $sampling %}",
          "Comment": "Is Gzip Filesize Calculation Job Or Sampling Required"
        }
      ],
      "Default": "For each fastq pair"
    },
    "Fastq Sync (wait for decompression stats)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Arguments": {
        "Entries": [
          {
            "Detail": {
              "taskToken": "{% $states.context.Task.Token %}",
              "payload": {
                "fastqIdList": "{% $fastqIdList %}",
                "requirements": {
                  "hasFileCompressionInformation": true
                }
              }
            },
            "DetailType": "${__fastq_sync_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "Next": "For each fastq pair",
      "HeartbeatSeconds": 3600,
      "Retry": [
        {
          "ErrorEquals": ["States.HeartbeatTimeout"],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 1
        }
      ]
    },
    "For each fastq pair": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Save map vars",
        "States": {
          "Save map vars": {
            "Type": "Pass",
            "Next": "Get Fastq Metadata Dict",
            "Assign": {
              "fastqIdListIter": "{% $states.input.fastqIdListIter %}"
            }
          },
          "Get Fastq Metadata Dict": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${__get_fastq_object_lambda_function_arn__}",
              "Payload": {
                "fastqId": "{% $fastqIdListIter %}",
                "outputUriPrefix": "{% $outputUriPrefix %}",
                "metadataBucket": "{% $s3JobMetadataBucket %}",
                "metadataPathPrefix": "{% $s3JobMetadataPrefix %}",
                "maxReads": "{% $maxReads %}",
                "noSplitByLane": "{% $noSplitByLane %}",
                "fileUriList": "{% ( $fileUriByFastqIdMap and ( $fileUriByFastqIdMap ~> $lookup($fastqIdListIter) ) ) ? $fileUriByFastqIdMap ~> $lookup($fastqIdListIter) : null %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Next": "Set icav2 config files",
            "Assign": {
              "fastqObjDict": "{% $states.result.Payload.fastqObjDict %}"
            },
            "Output": {}
          },
          "Set icav2 config files": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${__set_icav2_config_files_lambda_function_arn__}",
              "Payload": {
                "metadataBucket": "{% $s3JobMetadataBucket %}",
                "storageConfigurationListKeyPrefix": "{% $s3JobMetadataStorageConfigurationListKeyPrefix %}",
                "projectToStorageConfigurationMappingListKeyPrefix": "{% $s3JobMetadataProjectToStorageConfigurationMappingListKeyPrefix %}",
                "storageCredentialListKeyPrefix": "{% $s3JobMetadataStorageCredentialListKeyPrefix %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Next": "Decompress fastqs",
            "Output": {}
          },
          "Decompress fastqs": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "Decompress R1",
                "States": {
                  "Decompress R1": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::ecs:runTask.sync",
                    "Arguments": {
                      "LaunchType": "FARGATE",
                      "Cluster": "${__cluster__}",
                      "TaskDefinition": "${__task_definition__}",
                      "NetworkConfiguration": {
                        "AwsvpcConfiguration": {
                          "Subnets": "{% $split('${__subnets__}', ',') %}",
                          "SecurityGroups": "{% [ '${__security_group__}' ] %}"
                        }
                      },
                      "Overrides": {
                        "ContainerOverrides": [
                          {
                            "Name": "${__container_name__}",
                            "Environment": [
                              {
                                "Name": "INPUT_ORA_URI",
                                "Value": "{% $fastqObjDict.r1OraFileUriSrc %}"
                              },
                              {
                                "Name": "FASTQ_ID",
                                "Value": "{% $fastqIdListIter %}"
                              },
                              {
                                "Name": "ORA_INGEST_ID",
                                "Value": "{% $fastqObjDict.r1OraIngestId %}"
                              },
                              {
                                "Name": "GZIP_COMPRESSION_SIZE_IN_BYTES",
                                "Value": "{% $string($fastqObjDict.r1GzipFileSizeInBytes ? $fastqObjDict.r1GzipFileSizeInBytes : -1) %}"
                              },
                              {
                                "Name": "OUTPUT_GZIP_URI",
                                "Value": "{% $fastqObjDict.r1GzipFileUriDest %}"
                              },
                              {
                                "Name": "OUTPUT_METADATA_URI",
                                "Value": "{% $fastqObjDict.r1OutputMetadataUri  %}"
                              },
                              {
                                "Name": "MAX_READS",
                                "Value": "{% $string($maxReads) %}"
                              },
                              {
                                "Name": "SAMPLING",
                                "Value": "{% $string($sampling) %}"
                              },
                              {
                                "Name": "JOB_TYPE",
                                "Value": "{% $jobType %}"
                              },
                              {
                                "Name": "TOTAL_READ_COUNT",
                                "Value": "{% $string($fastqObjDict.totalReadCount) %}"
                              },
                              {
                                "Name": "METADATA_BUCKET",
                                "Value": "{% $s3JobMetadataBucket %}"
                              },
                              {
                                "Name": "ICAV2_STORAGE_CONFIGURATION_LIST_FILE_KEY_PREFIX",
                                "Value": "{% $s3JobMetadataStorageConfigurationListKeyPrefix %}"
                              },
                              {
                                "Name": "ICAV2_PROJECT_TO_STORAGE_CONFIGURATION_MAPPING_LIST_FILE_KEY_PREFIX",
                                "Value": "{% $s3JobMetadataProjectToStorageConfigurationMappingListKeyPrefix %}"
                              },
                              {
                                "Name": "ICAV2_STORAGE_CREDENTIAL_LIST_FILE_KEY_PREFIX",
                                "Value": "{% $s3JobMetadataStorageCredentialListKeyPrefix %}"
                              }
                            ]
                          }
                        ]
                      }
                    },
                    "End": true,
                    "Retry": [
                      {
                        "ErrorEquals": ["ECS.AmazonECSException"],
                        "BackoffRate": 2,
                        "MaxAttempts": 5,
                        "Comment": "Capacity error",
                        "IntervalSeconds": 20,
                        "JitterStrategy": "FULL"
                      },
                      {
                        "ErrorEquals": ["States.Timeout"],
                        "BackoffRate": 2,
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "Comment": "Timeout"
                      },
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "BackoffRate": 2,
                        "IntervalSeconds": 1,
                        "MaxAttempts": 2
                      }
                    ],
                    "TimeoutSeconds": 3600
                  }
                }
              },
              {
                "StartAt": "If has r2",
                "States": {
                  "If has r2": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Comment": "R2 exists",
                        "Next": "Decompress R2",
                        "Condition": "{% (\n  $fastqObjDict.r2OraFileUriSrc ? true : false\n) and \n(\n  $jobType != 'READ_COUNT_CALCULATION'\n) %}"
                      }
                    ],
                    "Default": "Pass"
                  },
                  "Decompress R2": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::ecs:runTask.sync",
                    "Arguments": {
                      "LaunchType": "FARGATE",
                      "Cluster": "${__cluster__}",
                      "TaskDefinition": "${__task_definition__}",
                      "NetworkConfiguration": {
                        "AwsvpcConfiguration": {
                          "Subnets": "{% $split('${__subnets__}', ',') %}",
                          "SecurityGroups": "{% [ '${__security_group__}' ] %}"
                        }
                      },
                      "Overrides": {
                        "ContainerOverrides": [
                          {
                            "Name": "${__container_name__}",
                            "Environment": [
                              {
                                "Name": "INPUT_ORA_URI",
                                "Value": "{% $fastqObjDict.r2OraFileUriSrc %}"
                              },
                              {
                                "Name": "FASTQ_ID",
                                "Value": "{% $fastqIdListIter %}"
                              },
                              {
                                "Name": "ORA_INGEST_ID",
                                "Value": "{% $fastqObjDict.r2OraIngestId %}"
                              },
                              {
                                "Name": "GZIP_COMPRESSION_SIZE_IN_BYTES",
                                "Value": "{% $string($fastqObjDict.r2GzipFileSizeInBytes ? $fastqObjDict.r2GzipFileSizeInBytes : -1) %}"
                              },
                              {
                                "Name": "OUTPUT_GZIP_URI",
                                "Value": "{% $fastqObjDict.r2GzipFileUriDest %}"
                              },
                              {
                                "Name": "OUTPUT_METADATA_URI",
                                "Value": "{% $fastqObjDict.r2OutputMetadataUri  %}"
                              },
                              {
                                "Name": "MAX_READS",
                                "Value": "{% $string($maxReads) %}"
                              },
                              {
                                "Name": "SAMPLING",
                                "Value": "{% $string($sampling) %}"
                              },
                              {
                                "Name": "JOB_TYPE",
                                "Value": "{% $jobType %}"
                              },
                              {
                                "Name": "TOTAL_READ_COUNT",
                                "Value": "{% $string($fastqObjDict.totalReadCount) %}"
                              },
                              {
                                "Name": "METADATA_BUCKET",
                                "Value": "{% $s3JobMetadataBucket %}"
                              },
                              {
                                "Name": "ICAV2_STORAGE_CONFIGURATION_LIST_FILE_KEY_PREFIX",
                                "Value": "{% $s3JobMetadataStorageConfigurationListKeyPrefix %}"
                              },
                              {
                                "Name": "ICAV2_PROJECT_TO_STORAGE_CONFIGURATION_MAPPING_LIST_FILE_KEY_PREFIX",
                                "Value": "{% $s3JobMetadataProjectToStorageConfigurationMappingListKeyPrefix %}"
                              },
                              {
                                "Name": "ICAV2_STORAGE_CREDENTIAL_LIST_FILE_KEY_PREFIX",
                                "Value": "{% $s3JobMetadataStorageCredentialListKeyPrefix %}"
                              }
                            ]
                          }
                        ]
                      }
                    },
                    "End": true,
                    "Retry": [
                      {
                        "ErrorEquals": ["ECS.AmazonECSException"],
                        "BackoffRate": 2,
                        "IntervalSeconds": 20,
                        "MaxAttempts": 5,
                        "JitterStrategy": "FULL"
                      },
                      {
                        "ErrorEquals": ["States.Timeout"],
                        "BackoffRate": 2,
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "Comment": "Timeout"
                      },
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "BackoffRate": 2,
                        "IntervalSeconds": 1,
                        "MaxAttempts": 2
                      }
                    ],
                    "TimeoutSeconds": 3600
                  },
                  "Pass": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              }
            ],
            "Next": "Get metadata contents"
          },
          "Get metadata contents": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "Get R1 Object",
                "States": {
                  "Get R1 Object": {
                    "Type": "Task",
                    "Arguments": {
                      "Bucket": "{% $s3JobMetadataBucket %}",
                      "Key": "{% $fastqObjDict.r1OutputMetadataPath %}"
                    },
                    "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
                    "End": true,
                    "Output": {
                      "data": "{% $parse($states.result.Body) %}"
                    }
                  }
                }
              },
              {
                "StartAt": "if has r2 (get data)",
                "States": {
                  "if has r2 (get data)": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Comment": "R2 file exists",
                        "Next": "Get R2 Object",
                        "Condition": "{% (\n  $fastqObjDict.r2OraFileUriSrc ? true : false\n) and \n(\n  $jobType != 'READ_COUNT_CALCULATION'\n) %}"
                      }
                    ],
                    "Default": "Pass (2)"
                  },
                  "Get R2 Object": {
                    "Type": "Task",
                    "Arguments": {
                      "Bucket": "{% $s3JobMetadataBucket %}",
                      "Key": "{% $fastqObjDict.r2OutputMetadataPath %}"
                    },
                    "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
                    "End": true,
                    "Output": {
                      "data": "{% $parse($states.result.Body) %}"
                    }
                  },
                  "Pass (2)": {
                    "Type": "Pass",
                    "End": true,
                    "Output": {}
                  }
                }
              }
            ],
            "Output": {
              "metadataJson": "{% /* https://try.jsonata.org/WzjRyuQxT */\n/* Gather data attribute from each attribute in the result map */\n [ $states.result.(data) ] %}"
            },
            "Next": "Set map iter output dict"
          },
          "Set map iter output dict": {
            "Type": "Pass",
            "End": true,
            "Output": {
              "metadataJsonWithFastqId": {
                "fastqId": "{% $fastqIdListIter %}",
                "metadataJson": "{% $states.input.metadataJson %}"
              }
            }
          }
        }
      },
      "Items": "{% $fastqIdList %}",
      "ItemSelector": {
        "fastqIdListIter": "{% $states.context.Map.Item.Value %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Assign": {
            "status": "FAILED"
          },
          "Next": "Update fastq decompression status (complete)"
        }
      ],
      "Next": "Update fastq decompression status (complete)",
      "Assign": {
        "metadataJsonFastqPairDictsList": "{% [ $states.result.(metadataJsonWithFastqId) ] %}",
        "status": "SUCCEEDED"
      }
    },
    "Update fastq decompression status (complete)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_fastq_decompression_service_status_lambda_function_arn__}",
        "Payload": {
          "jobId": "{% $jobId %}",
          "jobType": "{% $jobType %}",
          "metadataJsonFastqPairDictsList": "{% $metadataJsonFastqPairDictsList ? $metadataJsonFastqPairDictsList : null %}",
          "status": "{% $status ? $status : 'SUCCEEDED' %}",
          "fastqIdList": "{% $fastqIdList %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Did job succeed?"
    },
    "Did job succeed?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Success",
          "Condition": "{% $status = 'SUCCEEDED' %}",
          "Comment": "Success!"
        }
      ],
      "Default": "Report Failure"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Report Failure": {
      "Type": "Fail"
    },
    "Fastq sync (Needs Read Count)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Arguments": {
        "Entries": [
          {
            "Detail": {
              "taskToken": "{% $states.context.Task.Token %}",
              "payload": {
                "fastqIdList": "{% $fastqIdList %}",
                "requirements": {
                  "hasReadCountInformation": true
                }
              }
            },
            "DetailType": "${__fastq_sync_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "Next": "For each fastq pair",
      "Retry": [
        {
          "ErrorEquals": ["States.HeartbeatTimeout"],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 1
        }
      ],
      "HeartbeatSeconds": 3600
    }
  },
  "QueryLanguage": "JSONata"
}
